
# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

## Plugin-specific files:

# IntelliJ
/out/
.idea/
.idea_modules/
*.iml
**/*.iml

# Maven
.mvn
target

# Frontend
node_modules/
build/

.DS_Store
**/.DS_Store

*.zip
**/*.zip

*.tar
**/*.tar


